@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chomsky', sans-serif;
  src: url('./assets/fonts/chomsky.regular.otf') format('opentype');
}

@font-face {
  font-family: 'Heathergreen', sans-serif;
  src: url('./assets/fonts/heathergreen.regular.otf') format('opentype');
}

@font-face {
  font-family: 'Steelfish', sans-serif;
  src: url('./assets/fonts/steelfish.rg-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Josefin Sans', sans-serif;
}

.lucid-icon,
.l-icon,
.lucide-icon:not(.custom-icon) {
  @apply inline h-4 w-4;
}
